<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css" />
    <link rel="stylesheet" href="/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="icon" type="favicon" href="img/logo.png">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap" rel="stylesheet">

     
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="jquery-3.6.3.min.js"></script>

    <script src="https://kit.fontawesome.com/46aac33939.js" crossorigin="anonymous"></script>
    <title>NITJ-TPO</title>
    

    <style>
        /* Customizing the Scrollbar */
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: rgba(30, 58, 138, 1);
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background-color: gray;
        }

        ::-webkit-resizer {
            background-color: #ffffff;
        }

        .material-symbols-outlined {
            font-variation-settings: "FILL" 0, "wght" 300, "grad" 0, "opzs" 20;
        }

        ::-webkit-scrollbar {
            width: 4px;
        }

        .font2 {
            font-family: 'Barlow', sans-serif;
        }

        :root {
            --primary-color: #fff;
            --background-color: #212121;

            --blue-color: #0369A1;
            --light-blue-color: #F6F6FE;
            --purple-color: #040320;
            --font1: 'Poppins', sans-serif;
            --font2: 'Barlow', sans-serif;
        }

        * {
            margin: 0;
            padding: 0;
        }

        .main-body {
            font-family: var(--font1);
        }
    </style>
</head>

<body>
   <nav class="navbar">
    <div class="flex justify-around p-1 items-center ">
        <img class="h-[3.62rem] w-[3.5rem] inline mx-2 lg:ml-24 cursor-pointer"
          src="../img/logo_250.png" alt="logo">
          <div class="text-xs sm:text-base w-[30rem] lg:w-[33rem] h-[2.375rem]  ml-3 leading-5 text-[#0054A6]  cursor-pointer font-bold">
            <a href="#" class="navtext"> Dr. B.R Ambedkar National Institute of Technology Jalandhar</a>
          </div>
    </div>

    <ul class="navitems">
      <a href="{{URL}}"> <li class="navlist">Home</li></a> 
      <a href="{{URL}}/index_placements"> <li class="navlist">Placement</li></a> 
      <a href="{{URL}}/index_internship">  <li class="navlist">Internship</li></a> 
      <a href="{{URL}}/index_wrecruit"> <li class="navlist">Recruit</li></a> 
      <a href="{{URL}}/index_download"> <li class="navlist">Download</li></a> 
      <a href="{{URL}}/index_people"> <li class="navlist">People</li></a> 
      <a href="{{URL}}/index_student_faqs">  <li class="navlist">FAQ'S</li></a> 
    </ul>
  </nav>
</body>

</html>