<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>People</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon-16x16.png" />

  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>

  <style>
    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    body {
      font-family: "Poppins";
    }

    #header {
      position: sticky;
      top: 0;
    }
  </style>
</head>

<body>

  <div>
    {{>header}}
  </div>
  <br><br><br><br><br><br>
  <div>
    <div class="bg-[#002A51] text-white flex flex-col justify-center items-start h-[224px] px-4 lg:px-[11%] py-[48px]">
      <div class="text-center space-y-3">
        <h6 class="font2 text-5xl sm:text-7xl text-center font-extrabold">People</h6>
      </div>
    </div>
    <nav class="flex px-4 lg:px-[11%] bg-gray-200 py-[8px] text-black" aria-label="Breadcrumb">
      <ol class="inline-flex items-center">
        <li class="inline-flex items-center">
          <a href="" class="inline-flex items-center text-sm font-medium hover:text-gray-900">
          </a><a href="{{URL}}" class="text-lg font-medium ml-2">TPO</a>

        </li>
        <li aria-current="page">
          <div class="inline-flex items-center">
            <i style="color: rgb(128, 128, 128); font-size: 12px; margin-left: 12px"
              class="fa-solid fa-angle-right ml-2"></i>
            <a href="{{URL}}/index_people" class="text-lg font-medium ml-2">People</a>
          </div>
        </li>
      </ol>
    </nav>
  </div>

  <div class="grid grid-cols-1 m-[5%] lg:grid-cols-2 gap-8 max-w-4xl lg:mx-auto">
    <div
      class="group transition delay-100 duration-300 hover:cursor-pointer hover:shadow-xl hover:bg-sky-400 hover:shadow-sky-500 hover:scale-110 flex flex-col space-y-4 items-center justify-center w-full h-full px-3 py-5 bg-white shadow shadow-gray-400 rounded-xl"
      onclick="facultyClick()">
      <div class="flex flex-col space-y-4 items-center justify-center">
        <p class="group-hover:text-white text-lg lg:text-xl whitespace-nowrap text-center text-dark-purple uppercase">
          Faculty
        </p>
      </div>
    </div>
    <div
      class="group transition delay-100 duration-300 hover:cursor-pointer hover:shadow-xl hover:bg-sky-400 hover:shadow-sky-500 hover:scale-110 flex flex-col space-y-4 items-center justify-center w-full h-full px-3 py-5 bg-white shadow shadow-gray-400 rounded-xl"
      onclick="studentClick()">
      <div class="flex flex-col space-y-4 items-center justify-center">
        <p class="group-hover:text-white text-lg lg:text-xl whitespace-nowrap text-center text-dark-purple uppercase">
          Student
        </p>
      </div>
    </div>
  </div>

  <div id="content" class="flex flex-col space-y-5 m-5">
  </div>
  <br>

  <div>
    {{>footer}}
  </div>
</body>

<script>
  const link = `{{URL}}/People/Faculty`
  const content = document.getElementById('content')
  fetch(link)
    .then(response => response.json())
    .then(data => {
      content.innerHTML = "";

      let str1 = "";
      let str2 = "";
      let str3 = "</div>";

      str1 += `<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-5 mx-auto w-[90%] my-5">`;
      for (let i = 0; i < data.length; i++) {
        str2 += `<div class="w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md my-auto p-5">
            <div class="flex flex-col items-center pb-2">
                <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src="https://www.iconpacks.net/icons/1/free-user-icon-244-thumb.png" alt="image">
                <h5 class="mb-1 text-xl font-medium text-gray-900">${data[i].name}</h5>
                <p class="text-sm text-gray-500">${data[i].department} Department</p>
                <p class="text-sm text-gray-500">${data[i].designation}</p>
                <p class="text-sm text-gray-500">${data[i].mobileno}</p>
                <p class="text-sm text-gray-500">${data[i].email}</p>
            </div>
          </div>`;
      }
      content.innerHTML = str1 + str2 + str3;
    })

  function facultyClick() {
    let pro_link = `{{URL}}/People/Faculty`
    fetch(pro_link)
      .then(response => response.json())
      .then(data => {
        content.innerHTML = "";

        let str1 = "";
        let str2 = "";
        let str3 = "</div>";

        str1 += `<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-5 mx-auto w-[90%] my-5">`;
        for (let i = 0; i < data.length; i++) {
          str2 += `<div class="w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md my-auto p-5">
            <div class="flex flex-col items-center pb-2">
                <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src="https://www.iconpacks.net/icons/1/free-user-icon-244-thumb.png" alt="image">
                <h5 class="mb-1 text-xl font-medium text-gray-900">${data[i].name}</h5>
                <p class="text-sm text-gray-500">${data[i].department} Department</p>
                <p class="text-sm text-gray-500">${data[i].designation}</p>
                <p class="text-sm text-gray-500">${data[i].mobileno}</p>
                <p class="text-sm text-gray-500">${data[i].email}</p>
            </div>
          </div>`;
        }
        content.innerHTML = str1 + str2 + str3;
      })
  }
  function studentClick() {
    let pro_link = `{{URL}}/People/Student`
    fetch(pro_link)
      .then(response => response.json())
      .then(data => {
        content.innerHTML = "";

        let str1 = "";
        let str2 = "";
        let str3 = "</div>";

        str1 += `<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-5 mx-auto w-[90%] my-5">`;
        for (let i = 0; i < data.length; i++) {
          str2 += `<div class="w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md my-auto p-5">
            <div class="flex flex-col items-center pb-2">
                <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src="https://www.iconpacks.net/icons/1/free-user-icon-244-thumb.png" alt="image">
                <h5 class="mb-1 text-xl font-medium text-gray-900">${data[i].name}</h5>
                <p class="text-sm text-gray-500">${data[i].department} Department</p>
                <p class="text-sm text-gray-500">${data[i].designation}</p>
                <p class="text-sm text-gray-500">${data[i].mobileno}</p>
                <p class="text-sm text-gray-500">${data[i].email}</p>
            </div>
          </div>`;
        }
        content.innerHTML = str1 + str2 + str3;;
      })
  }
</script>

</html>