<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/x-icon" href="/img/favicon-16x16.png" />
  <title>TPO - NITJ</title>
  <style>
    .tpo {
      background: linear-gradient(90.09deg, rgba(0, 0, 0, 0.7) 0.08%, rgba(255, 255, 255, 0) 99.11%), url(../img/bg_img.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  </style>
</head>

<body class="2xl:container 2xl:mx-auto">

  <div>
    {{> header}}

  </div>
  <div id="search_page" class="absolute top-0 z-50 hidden h-full w-full content-center bg-transparent backdrop-blur-2xl"
    onclick="showSearchPage(event)">
    <form id="search_form" onclick="showSearchPage(event)">
      <div class="flex px-28">
        <label for="search-dropdown" class="sr-only mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your
          Email</label>
        <button id="dropdown-button" data-dropdown-toggle="dropdown"
          class="z-10 inline-flex flex-shrink-0 items-center rounded-l-lg border border-gray-300 bg-gray-100 py-2.5 px-4 text-center text-sm font-medium text-gray-900 hover:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-700"
          type="button" onclick="openDropdown()">
          All categories
          <svg class="ml-1 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
        <div id="dropdown"
          class="absolute z-10 hidden w-44 translate-y-11 divide-y divide-gray-100 rounded bg-white shadow dark:bg-gray-700"
          data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="top">
          <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
            <li>
              <button type="button"
                class="inline-flex w-full py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                Faculty
              </button>
            </li>
            <li>
              <button type="button"
                class="inline-flex w-full py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                Links
              </button>
            </li>
            <li>
              <button type="button"
                class="inline-flex w-full py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                Library
              </button>
            </li>
            <li>
              <button type="button"
                class="inline-flex w-full py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                Research
              </button>
            </li>
            <li>
              <button type="button"
                class="inline-flex w-full py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                Everything
              </button>
            </li>
          </ul>
        </div>
        <div class="relative w-full">
          <input type="search" id="search-dropdown"
            class="z-20 block w-full rounded-r-lg border border-l-2 border-gray-300 border-l-gray-50 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:border-l-gray-700 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500"
            placeholder="Search Faculty, Books, Events, Researches..." required="">
          <button type="submit"
            class="absolute top-0 right-0 rounded-r-lg border border-blue-700 bg-blue-700 p-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>
  <br><br><br><br><br><br>

  {{!-- Starting Image --}}
  <div>
    <div class="tpo flex flex-col justify-center items-start h-[224px] px-4 lg:px-[11%] py-[48px]">
      <p class="font2 font-bold text-[52px] lg:text-[68px] uppercase text-white leading-[1]">Training and Placement Cell
      </p>
    </div>
  </div>

  {{!-- Introduction Body --}}
  <div class="main-body m-10">
    <div class="container flex flex-col items-start gap-[20px] lg:gap-[16px]">
      <div class="w-full flex flex-col items-start">
        <p class="font2 font-medium text-[28px] lg:text-[32px]">TPO NIT Jalandhar</p>
        <div class="bg-accent w-full lg:w-[111px] h-[1px] lg:h-[3px]"></div>
      </div>
      <div id="Introduction">
        <p class="font-normal text-gray-800 lg:text-[16px] lg:leading-[27px] text-justify">
          National Institute of Technology, Jalandhar
          is well known for its technical education throughout the country. It enjoys a very good and warm
          relationship with the industry. It is one of the most favorite destination for Corporate house as they are
          aware of the fact that NITJ is known to introduce bright, vibrant and effervescent young minds to the
          industry. We feel pleasure to invite your esteemed Organization to participate in the Campus Recruitment
          Programme. This is an opportunity to inform your good self that the Placement level achieved for the
          previous batches has been fairly impressive till date.
        </p>
      </div>
    </div>
  </div>

  {{!-- further pages --}}
  <div class="grid grid-cols-2 m-[5%] sm: lg:grid-cols-6 gap-8 max-w-6xl lg:mx-auto">

    {{!-- Placement Page --}}
    <div
      class="group transition delay-100 duration-300 hover:cursor-pointer hover:shadow-2xl hover:bg-sky-400 hover:shadow-sky-500 hover:scale-110 flex flex-col space-y-4 items-center justify-center w-full h-full px-3 py-5 bg-white shadow shadow-gray-400 rounded-xl">
      <a href="{{URL}}/index_placements" class="flex flex-col space-y-4 items-center justify-center">
        <span class="group-hover:text-white group-hover:animate-bounce animate-delay material-symbols-outlined"
          style="font-size: 48px">
          quick_reference_all
        </span>
        <p class="group-hover:text-white text-lg lg:text-xl whitespace-nowrap text-center text-dark-purple uppercase">
          Placements
        </p>
      </a>
    </div>

    {{!-- Internships Page --}}
    <div
      class="group transition delay-100 duration-300 hover:cursor-pointer hover:shadow-2xl hover:bg-sky-400 hover:shadow-sky-500 hover:scale-110 flex flex-col space-y-4 items-center justify-center w-full h-full px-3 py-5 bg-white shadow shadow-gray-400 rounded-xl">
      <a href="{{UDL}}/index_internship" class="flex flex-col space-y-4 items-center justify-center">
        <span class="group-hover:text-white group-hover:animate-bounce animate-delay material-symbols-outlined"
          style="font-size: 48px">
          work_history
        </span>
        <p class="group-hover:text-white text-lg lg:text-xl whitespace-nowrap text-center text-dark-purple uppercase">
          Internships
        </p>
      </a>
    </div>

    {{!-- Why Recruit page --}}
    <div
      class="group transition delay-100 duration-300 hover:cursor-pointer hover:shadow-2xl hover:bg-sky-400 hover:shadow-sky-500 hover:scale-110 flex flex-col space-y-4 items-center justify-center w-full h-full px-3 py-5 bg-white shadow shadow-gray-400 rounded-xl">
      <a href="{{URL}}/index_wrecruit" class="flex flex-col space-y-4 items-center justify-center">
        <span class="group-hover:text-white group-hover:animate-bounce animate-delay material-symbols-outlined"
          style="font-size: 48px">
          person_search</span>
        <p class="group-hover:text-white text-lg lg:text-xl whitespace-nowrap text-center text-dark-purple uppercase">
          Why Recruit
        </p>
      </a>
    </div>

    {{!-- Downloads --}}
    <div
      class="group transition delay-100 duration-300 hover:cursor-pointer hover:shadow-2xl hover:bg-sky-400 hover:shadow-sky-500 hover:scale-110 flex flex-col space-y-4 items-center justify-center w-full h-full px-3 py-5 bg-white shadow shadow-gray-400 rounded-xl">
      <a href="{{URL}}/index_download" class="flex flex-col space-y-4 items-center justify-center">
        <span class="group-hover:text-white group-hover:animate-bounce animate-delay material-symbols-outlined"
          style="font-size: 48px">
          cloud_download</span>
        <p class="group-hover:text-white text-lg lg:text-xl whitespace-nowrap text-center text-dark-purple uppercase">
          Downloads
        </p>
      </a>
    </div>

    {{!-- People page --}}
    <div
      class="group transition delay-100 duration-300 hover:cursor-pointer hover:shadow-2xl hover:bg-sky-400 hover:shadow-sky-500 hover:scale-110 flex flex-col space-y-4 items-center justify-center w-full h-full px-3 py-5 bg-white shadow shadow-gray-400 rounded-xl">
      <a href="{{URL}}/index_people" class="flex flex-col space-y-4 items-center justify-center">
        <span class="group-hover:text-white group-hover:animate-bounce animate-delay material-symbols-outlined"
          style="font-size: 48px">
          group</span>
        <p class="group-hover:text-white text-lg lg:text-xl whitespace-nowrap text-center text-dark-purple uppercase">
          People
        </p>
      </a>
    </div>

    {{!-- Login Page --}}
    <div
      class="group transition delay-100 duration-300 hover:cursor-pointer hover:shadow-2xl hover:bg-sky-400 hover:shadow-sky-500 hover:scale-110 flex flex-col space-y-4 items-center justify-center w-full h-full px-3 py-5 bg-white shadow shadow-gray-400 rounded-xl">
      <a href="{{URL}}/index_login" class="flex flex-col space-y-4 items-center justify-center">
        <span class="group-hover:text-white group-hover:animate-bounce animate-delay material-symbols-outlined"
          style="font-size: 48px">
          password</span>
        <p class="group-hover:text-white text-lg lg:text-xl whitespace-nowrap text-center text-dark-purple uppercase">
          Log In
        </p>
      </a>
    </div>

  </div>


  <!-- announcement section and notice -->
  <div class="flex flex-col sm:flex-row overflow-auto mb-4" style="margin-top: 60px;">
    <!-- announcement section -->
    <div class="w-11/12 sm:w-3/4 flex flex-col ml-2 sm:ml-5 mr-2">
      <h1 class="text-2xl sm:text-4xl title-font font-medium text-gray-900 p-2 sm:p-3">Announcements from TPO</h1>
      <div class="xl:w-full md:w-full p-3">
        <div class="p-6 rounded-lg"
          style="height: 550px; border: 1px solid #2167A7; box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2); border-radius: 6px;">
          <!-- list of announcement -->
          <ul class="list-disc" id="annoucements">
            <!-- announcement 1 -->

          </ul>
        </div>
      </div>
    </div>

    <!-- notice board -->
    <div class="flex flex-col w-11/12 sm:w-1/2 ml-2 mr-2 sm:mr-5">
      <h1 class="text-2xl sm:text-4xl title-font font-medium text-gray-900 p-2 sm:p-3">Notices</h1>
      <div id="notes">

      </div>
    </div>
  </div>

  <!-- past recruiters -->
  <div class="flex flex-col justify-center item-center mt-5 mb-5 mx-5">
    <h1 class="sm:text-4xl text-3xl title-font font-medium text-gray-900 p-3 text-center mt-2 mb-5">PAST RECRUITERS</h1>
    <div class="flex flex-row w-full overflow-auto mb-5">
      <img src="./img/microsoft.png" alt="microsoft" class="mx-auto">
      <img src="./img/google.png" alt="google" class="mx-auto">
      <img src="./img/oracle.png" alt="oracle" class="mx-auto">
      <img src="./img/intel.png" alt="intel" class="mx-auto">
      <img src="./img/samsung.png" alt="samsung" class="mx-auto">
      <img src="./img/uber.png" alt="uber" class="mx-auto">
      <img src="./img/goldman.png" alt="goldman" class="mx-auto">
      <img src="./img/bajaj.png" alt="bajaj" class="mx-auto">
    </div>
  </div>

  <!-- footer -->

  <div style="bottom: 0; width:100%">
    {{> footer}}
  </div>

</body>

<script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>




{{!-- Attach Backend with frontend --}}
<script>

  // for announcements
  const link1 = "{{URL}}/Announcements/"

  // for notices
  const link2 = `{{URL}}/Notices/`;

  fetch(link1)
    .then(response => response.json())
    .then(data => {
      console.log(data)

      let annoucemnts = document.getElementById('annoucements');      
      let itr = 0;

      for (let i = data.length - 1; i >= 0; i--) {

        let el = document.createElement('li');
        el.classList.add("ml-3")
        el.classList.add("mt-1")
        el.classList.add("mb-1")

        let el1 = document.createElement('a');
        let span = document.createElement('span');
        span.style.cssText = "color: #FF8534; font-size: small;"
        span.classList.add("p-3");
        el1.style.cssText = "color: #002A51; font-weight:bold; font-family: 'Open Sans'; font-size:large";

        el1.target = "_blank";
        el1.href = data[i].link;
        el1.innerText = data[i].text;

        span.textContent = data[i].updatedAt.substring(0,10);
        el1.appendChild(span);
        el.appendChild(el1);
        annoucemnts.appendChild(el);
        itr++;
        if (itr == 15) break;
      }
    });

  fetch(link2)
    .then(response => response.json())
    .then(data => {
      console.log(data)

      let notes = document.getElementById("notes");
      let itr = 0;
      
      for (let i = data.length - 1; i >= 0; i--) {
        const notesTemplate = '<div class="xl:w-full md:w-full p-3"><div class="p-6 rounded-lg" style="border: 1px solid #62AAFF; box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2); border-radius: 6px;"><p class="leading-relaxed text-base">' + data[i].text + '</p></div></div>'
        notes.innerHTML += notesTemplate;
        itr++;
        if (itr == 5) break;
      }
    });

</script>

</html>